<!DOCTYPE HTML >
<html>
<head>
<link rel="stylesheet" type="text/css" media="screen" href="{{tg.url('/css/bootstrap.min.css')}}" />
    <link rel="stylesheet" type="text/css" media="screen" href="{{tg.url('/css/style.css')}}" />

<style>
.content{ margin-top:4%
}
</style>
    


</head>
<body>


<div class="container">
	<div class="row clearfix">
		<div class="col-md-6 column">
		</div>
		<div id="selectorg" style="margin-top:50px;" class="mainbox col-md-6 pull-right">                    
            <div class="panel panel-info" >
                    <div class="panel-heading">
                        <div class="panel-title">Create Organisation</div>
                        
                    </div>    
                     <div style="padding-top:30px" class="panel-body" >
		
			<form method="get" action="orgdetail" role="form">
				<div class="form-group">
					 <label for="orgName">Organisation Name</label><input name="orgname" class="form-control" placeholder="Enter Organisation Name" id="orgName" type="text" data-validation-required-message="Please Enter Organisation Name" />
				</div>
				<div class="form-group">
					 <label for="orgType">Organisation Type</label><select name="orgtype" class="form-control" id="orgType" data-validation-required-message="Please select Organisation Type">
					 <option value="Profit Making">Profit Making</option>
					 <option value="NGO">NGO</option>
					 </select>
				</div>
				<div class="form-group">
           <label for="Fdate">Financial Year:</label>
          
              <div class="form-inline">
              <div class="form-group">
                          
                         <label class="sr-only" for="txt_day">Enter Day</label> 
                         <input type="text" id="txt_fromday" name="from_day" class="form-control" style="width:60px"  placeholder="DD" required maxlength="2" data-validation-required-message="Day is required" >
                         
                      </div>
                      <div class="form-group ">
                         
                        <label class="sr-only" for="txt_month">Enter Month</label> 
                        <input type="text" id="txt_frommonth" name="from_month" class="form-control" style="width:60px"  placeholder="MM" required maxlength="2" data-validation-required-message="Month is required" >
                        
                      </div>
                      
                      <div class="form-group">
                        
                          <label class="sr-only" for="txt_year">Enter Year</label> 
                          <input type="text" id="txt_fromyear" name="from_year" class="form-control" style="width:60px"  placeholder="YY" required maxlength="4" data-validation-required-message="Year is required" >
                       
                      </div>
                      <div class="form-group"><label>--To--</label></div>
                      <div class="form-group">
                          
                         <label class="sr-only" for="txt_day">Enter Day</label> 
                         <input type="text" id="txt_today" name="to_day" class="form-control" style="width:60px"  placeholder="DD" required maxlength="2" data-validation-required-message="Day is required" >
                         
                      </div>
                      <div class="form-group ">
                         
                        <label class="sr-only" for="txt_month">Enter Month</label> 
                        <input type="text" id="txt_tomonth" name="to_month" class="form-control" style="width:60px"  placeholder="MM" required maxlength="2" data-validation-required-message="Month is required" >
                        
                      </div>
                      
                      <div class="form-group">
                        
                          <label class="sr-only" for="txt_year">Enter Year</label> 
                          <input type="text" id="txt_toyear" name="to_year" class="form-control" style="width:60px"  placeholder="YY" required maxlength="4" data-validation-required-message="Year is required" >
                       
                      </div>
                 </div>
                 <br />
                 <div style="margin-top:10px" class="form-group">
                                    <!-- Button -->

                                    
                                     <button class="btn btn-success" type="submit"><span class="glyphicon glyphicon-arrow-right"></span>Proceed</button>
                                      
						</div>
                                    
                                </div>
          
			</form>
		
		</div>
		</div>
		</div>
	</div>
</div>
<script src="{{tg.url('/javascript/bootstrap.min.js')}}"></script>
    <script src="{{tg.url('/javascript/jquery-2.1.4.min.js')}}"></script>
</body>